body{
background-color: #210D03; font-family: Arial, Helvetica, Sans-Serif; Color: #EDEBD1;
}
.contain{
width: 100%; 
}
.center_div{
margin:0 auto; max-width: 400px;position:relative;min-height: 60vh;
}
.btn_cfg{
border:0;border-radius:0.3rem;color:#fff;line-height:1.4rem;
font-size:0.8rem;margin:2px;height:2rem;width:15ch;background-color:#ff3300;
}
button{
width:100%;border:0;border-radius:0.3rem;color:black;line-height:2.4rem;
font-size:1.2rem;height:40px;background-color:#8a8a5c;
}
h1{
text-align: center;font-size:1.5rem;
}
#logo{
display:block;margin:0 0;width:2em;height:2em;position: absolute;
top: 5px;
left: 0;
}
#bottom{
	border-top: 1px solid white;
	position: fixed;
	bottom: 2px;
	width: 95vw;
	background-color: #210D03;
	opacity: 0.9;
}
#bottom p{ margin-bottom: 3px;}

#time{font-size:3rem;color:#1fa3ec;}
#date{font-size:1rem;color:#1fa3ec;}
.schday{
	width: 100%;
}

.schday span{
	float:right;
}

.schday input{
	width: 4em;
}

select{	max-width: 95%;}