body {
background-color: white; font-family: Arial, Helvetica, Sans-Serif; 
Color:#000000; 
}
.contain{
width: 100%;
}
.center_div{
margin:0 auto; max-width: 400px;position:relative;
}
.btn_b{
border:0;border-radius:0.3rem;color:#fff;line-height:2.4rem;
font-size:1.2rem;margin:2%;height:2.4rem;background-color:#1fa3ec;
}
.btn_cfg{
border:0;border-radius:0.3rem;color:#fff;line-height:1.4rem;
font-size:0.8rem;margin:1ch;height:2rem;width:15ch;background-color:#ff3300;
}
h1{
text-align: center;font-size:1.5rem;
}
.slider{
-webkit-appearance:none;appearance:none;width:90%;height:0.8em;
border-radius:0.4em;background:#d3d3d3;outline:none;
-webkit-transition:.2s;margin:10% 4%;padding:0;
}
.slider::-webkit-slider-thumb{
-webkit-appearance:none;appearance:none;width:3em;height:3em;
background:white;border-radius:50%;box-shadow:inset -1em -1em 2em rgba(0,0,0,.5);
}
.slider::-moz-range-thumb{
appearance:none;width:3em;height:3em;background:white;
border-radius:50%;box-shadow: inset -1em -1em 2em rgba(0,0,0,.5);
}
.kolor{
width:18%;margin:1%;padding-top:17%;float:left;border-radius:50%;
}
.row{
width:100%;overflow: auto;
}
#cpick{
width:100%;overflow: auto;
}
#samp{
margin:1em auto;background:black;padding:0;overflow:hidden;
width:102px;height:52px;border-radius:2em;border:2px solid black;
}
#sampc{
margin:auto;padding:0;overflow:hidden;width:102px;text-align:center;
}
input[type="color"]{
height:70px;width:150px;margin-left:-20px;margin-top:-10px;
} 
#logo{
display:block;margin:0 0;width:4em;height:4em;
}
