/* Common elements */
.label{
    display: inline-block;
    text-align: center;
    width: calc(100% - 4em);
}
.setup, .redirect{
    width: 1em;
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.redirect{
    float: right;
}


/* Light round button */
.lightBtnOff, .lightBtnOn{
	width: 6em;
	height: 6em;
	position: relative;
	margin: 0 auto;
	display: inline-block;
}

.lightBtnOff::before, .lightBtnOff::after, .lightBtnOff span,
.lightBtnOn::before, .lightBtnOn::after, .lightBtnOn span{
	display: block;
   	content: "";
   	position: absolute;
}

.lightBtnOff::before, .lightBtnOn::before{
	width: 5em;
	height: 5em;
	background: #3a3a3a;
	border-radius: 50%;
	top: calc(0.5em - 2px);
	left: calc(0.5em - 2px);
}

.lightBtnOff::before{
	border: 2px solid #ACABA4;
}

.lightBtnOn::before{
	border: 2px solid white;
	box-shadow: 0 0 20px white;
}

.lightBtnOff::after, .lightBtnOn::after{
	width: 3em;
	height: 3em;
	top: calc(1.5em - 6px);
	left: calc(1.5em - 6px);
	border-radius: 50%;
}

.lightBtnOff::after{
	background: #3a3a3a;
	border: 6px solid #ACABA4;
}

.lightBtnOn::after{
	background: #3a3a3a;
	border: 6px solid white;
}

.lightBtnOff span, .lightBtnOn span{
	width: 6px;
	height: 22px;
	border: 6px solid #3a3a3a;
	top: calc(1.5em - 12px);
	left: calc(3em - 9px);
	z-index: 2;
}
.lightBtnOff span{
	background: #ACABA4;
}

.lightBtnOn span{
	background: white;
}

/* Slider */
.v-slider-wrapper{
    width: 4.4em;
    height: 10em;
    padding: 0;
    display: inline-block;
    position: relative;
	margin: 0 auto;
}
.v-slider {
    -webkit-appearance: none;
    width: 8em;
    height: 0.2em;
    border-radius: 0.1em;
    background: #e7d7c3;
    margin: -7em 2.2em 0 2.2em;
    transform-origin: 8em 8em;
    transform: rotate(-90deg);
    outline: none;
}

.v-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: gray;
}

.v-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: gray;
}

.color_0::-webkit-slider-thumb{
    background-color: red;
}
.color_0::-moz-range-thumb {
    background-color: red;
}

.color_1::-webkit-slider-thumb {
    background-color: green;
}
.color_1::-moz-range-thumb {
    background-color: green;
}

.color_2::-webkit-slider-thumb {
    background-color: blue;
}
.color_2::-moz-range-thumb {
    background-color: blue;
}

.color_3::-webkit-slider-thumb {
    background-color: white;
}
.color_3::-moz-range-thumb {
    background-color: white;
}

/* Thermometerc, Thermometerf, Clock */
.text-display{
    min-height: 60px;
	position: relative;
	margin: 10px auto 0 auto;
	display: inline-block;
	border: 2px solid #e7d7c3;
	border-radius: 10px;
	position: relative;
	width: 250px;
	text-align: center;
	color: #e7d7c3;
}
.text-data{
    font-size: 40px;
    height: 40px;
    padding: 5px;
    margin: 0;
    width: calc(100% - 10px);
    display: block;
}

.target_text{
    padding: 5px;
    margin: 0;
    width: calc(100% - 10px);
}
.type-icon{
    float: left;
    font-size: 20px;
}
