Package: lazyctrl
Version: 3.1
Section: base
Priority: optional
Architecture: all
Depends: xdotool, sox
Maintainer: Rada Berar <rada.berar@ohanacode-dev.com>
Homepage: 
Description: PC multimedia remote controller
