body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #2f4f4f;
    opacity: 0.7;
}

ol{
    margin: 0;
    padding: 0 5px 0 5em;
    color: black;
}

li {
    padding: 10px 5px 5px 5px;
    margin: 0;
    height: 25px;
    border-radius: 10px;
    position: relative;
}

.url_ctrl {
    background: white;
    z-index: 13;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 10px;
}

.url_ctrl a {
    padding: 5px;
    margin: 10px;
    opacity: 0.8;
}

.url_name {
    overflow: hidden;
    height: 1.2em;
}

a:hover{
    opacity: 1;
}

.active_stream{
    border: 1px solid green;
    height: 23px;
}

h1 {
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    max-width: 70vw;
}

#song_title{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: #e2bf99;
    padding: 10px;
    margin: 0;
    z-index: 3;
}

#multimedia_ctrl{
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#multimedia_ctrl a{
    padding: 0;
    margin: 2px;
    width: 2em;
    height: 1.5em;
    display: block;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    color: #e2bf99;
}

#add_station{
    font-size: 3em;
    color: #e2bf99;
    margin: 2px 2px 20px 2px;
}

#add_station span{
    opacity: 0.7;
}

#add_station span:hover{
    opacity: 1;
}

#sort_cmd{
    width: 1em;
    font-size: 1.5em;
    float: left;
    margin-top: 10px;
    margin-left: 0;
}

#title_row{
    display: inline-block;
    width: 95vw;
    padding: 0 5px 0 5em;
    padding-left: 4em;
}